
/* HTML and Body styles */

html {
   background: rgb(45, 110, 154);
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   background-color: rgb(229, 228, 226);
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid rgb(3, 51, 86);
   border-right: 1px solid rgb(3, 51, 86);
   min-height: 100%;   
   margin: 0px auto;
   min-width: 320px;
   max-width: 1024px;   
   width: 100%;
}


/* Header styles */

header {
   background: linear-gradient(to right, rgb(166, 222, 254) 20%, rgb(3, 51, 86));
   border-bottom: 5px solid rgb(3, 51, 86);
}

header p{
	color: rgb(33, 88, 132);
	padding: 5px;
	font-family: 'Century Gothic', sans-serif;
}

header img#mainlogoimg {
   display: block;
   margin: 0px auto;
   width: 60%;
}

/* Navigation list styles */

header nav ul li {
   font-size: 1.5em;
}

header nav ul li a {
   color: rgb(229, 228, 226);
   text-shadow: rgb(51, 51, 51) 0px 0px 1px, rgb(51, 51, 51) 0px 0px 8px;
   display: block;
   padding: 5px 20px;
   width: 90%;
}

header nav ul li a:hover {
   color: white;
   background-color: rgb(3, 51, 86);
   margin: 4px;
}

a#navicon {
   display: none;
}

/* Article Styles */

article {
   margin: 40px auto;
   width: 85%;
}

article h1 {
   color: rgb(33, 88, 132);
   text-shadow: white -2px 0px 0px, rgb(151, 151, 151) -14px 0px 8px;
   font-family: Speeder;
   font-weight: normal;
   font-size: 2.5em;
   font-style: oblique;
   letter-spacing: 0.03em;
   line-height: 1.2em;
   margin-bottom: 20px;
   text-align: center;
}

article h2{
	color: rgb(45, 110, 154);
	font-size: 1.3em;
}

article p {
   line-height: 1.5;
   margin-bottom: 30px;
   font-family: 'Century Gothic', sans-serif;
}

/* Table Styles */
table{
background: linear-gradient(rgb(45, 110, 154), rgb(229, 228, 226));
border-style: solid;
border-color: gray;
border-width: 5px;
}

th, td{
font-family: 'Century Gothic', sans-serif;
border-style: solid;
border-color: gray;
border-width: 3px;
line-height: 1.4em;
padding: 8px;
}

th{
background-color: rgb(229, 228, 226);
color: rgb(45, 110, 154);
font-weight: normal;
font-size: 1.2em;
font-family: 'Century Gothic', sans-serif;
}

th > img{
	width: 80%;
}

td{
color: black;
font-size: 0.9em;
vertical-align: top;
font-size: 1em;
font-family: 'Century Gothic', sans-serif;
}

/* Column Styles */
col#firstCol{
width: 20%;
}

col.dataCols{
width: 15%;
}


/* Table Header Styles */
thead{
height: 50px;
}

thead > tr:first-child > th:first-of-type{
font-size: 2em;
}

thead > tr:first-child > th:not(:first-of-type){
background-color: transparent;
color: black;
}


/* Footer styles */   

footer {
   color: black; 
   background: linear-gradient(to bottom, rgb(33, 88, 132), black);
   font-size: 0.9em;  
   font-style: normal;
}

footer nav ul {
   float: left;
   padding: 30px;
   width: 25%;
}

footer nav ul a {
   color: rgb(229, 228, 226);;
}

footer nav ul a:hover {
   text-decoration: underline;
}


footer::after {
   display: table;
   content: "";
   clear: both;
}

/*
   Tablet and Desktop Styles: greater than 640px
*/
@media only screen and (min-width: 641px) {

   
   
   header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}
