
/* HTML and Body Styles */

html {
   background: rgb(45, 110, 154);
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   background-color: rgb(229, 228, 226);
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid rgb(3, 51, 86);
   border-right: 1px solid rgb(3, 51, 86);
   min-height: 100%;   
   margin: 0px auto;
   min-width: 320px;
   max-width: 1024px;   
   width: 100%;
}

/* Header Styles */

header{
	background: linear-gradient(to right, rgb(166, 222, 254) 20%, rgb(3, 51, 86));
    padding-top: 5px;
    padding-left: 80px;
    border-bottom: 4px;
    font-family: 'Century Gothic', sans-serif;
}

header h1{
   color: rgb(33, 88, 132);
   text-shadow: white -2px 0px 0px, rgb(151, 151, 151) -14px 0px 8px;
   font-family: Speeder;
   font-weight: normal;
   font-size: 2em;
   font-style: oblique;
   letter-spacing: 0.03em;
   line-height: 1.2em;
   margin-bottom: 20px;
}

header a, header a:visited{
    color: #000000;
}

header a:hover{
    color: #FFFFFF
}

/* Section and Form Styles */
form{
    width: 800px;
    margin: auto;
    padding: 15px 15px 15px 15px;
    background-color: rgb(229, 228, 226);
    border: 2px solid #333333;
    border-radius: 5px;
    margin-top: 30px;
}

section{
    padding-bottom: 30px;
}

fieldset{
    border: 0px none;
}

legend{
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.5em;
	color: rgb(45, 110, 154);
    border-left: 5px solid rgb(33, 88, 132);
}

label{
    font-family: 'Century Gothic', sans-serif;
    font-size: 110%;
    padding: 4px 4px 4px 4px;
}

.info{
    background-color: #EEEEEE;
    border: 3px solid #999999;
    border-radius: 10px;
    padding-top: 10px;
}

/* Billing Information Styles  */

div#customerInfo, div#countryInfo, div#locationInfo{
	text-align: center;
}

form > #billing input, form > #billing select{
	margin: auto;
	display: block;
}


/* Payment Information Styles  */
#cardNumberDiv{
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
#cardNumberDiv label{
    padding-left: 27%;
}

#cardTypeDiv{
    display: block;
    clear: left;
    padding-bottom: 10px;
    padding-left: 23%;
}

#expirationDiv{
    display: block;
    clear: left;
    padding-bottom: 10px;
    padding-left: 19%;
}
#expirationDiv label{
    padding-left: 40px;
}

#cvvDiv{
    display: block;
    clear: left;
}
#cvvDiv label{
    padding-left: 35%;
}

#litecoinDiv{
    display: block;
    clear: left;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 35%;
}
#litecoinDiv p{
    padding-left: 35px;
}


/* Payment Plan Styles*/
ul {
    list-style-type: none;
    line-height: 2em;
}

/* Total Cost Styles */
table{
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table td{
    padding: 5px;
}
.total{
    font-weight: bold;
    font-size: 1.5em;
}

/* Button Styles */
button[type='submit'] {
   background-color: rgb(33, 88, 132);
   color: rgb(229, 228, 226);
   border-radius: 20px;
   display: block;
   font-size: 1.1em;
   height: 30px;
   width: 150px;
   margin: auto;
}

/* Footer Styles */
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    background-color: linear-gradient(to bottom, rgb(33, 88, 132), black);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
